# CMake build
build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled modules
*.so
*.pyd
*.dll
*.o
*.a

# Python cache
__pycache__/
*.pyc
*.pyo
ignoredFiles/

# Virtual environment
.venv/
.env

# VS Code
.vscode/

# Logs and other files
*.log

# .Ui Converted files
ui_*.py