# Ignore virtual environments
.venv/
venv/
ignoredFiles/
# Add other common virtual environment names you might use
# like `env/`, `myenv/` etc., if you use them.

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# .Ui Converted files
ui_*.py


# Logs and other files
*.log